.half-width {
    width: 50%;
    padding-left: 5%;
    padding-right: 2%;
}

.flexible-container {
    display: flex;
    margin-left: 20px;
    margin-bottom: 200px;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}

.hero-pic {
    margin-top: 2%;
    width: 90%;
}
h1{
    font-size: 600%;
    margin-top: 150px;
    text-align-last: left;
    width: max-content;
}
h2{
    margin-top: 200px;
    font-size: 50px;
}
.skip{
    color: orange;
}
.link-button{
    background-image: linear-gradient(orange,tomato);
    font-weight: 200px;
    font-size: 20px;
    padding: 20px;
    border-radius: 30px;
    color: white;
    font: bold;
    text-decoration: none;
}
.first-p{
    font-size: large;
    margin-bottom: 100px;
    margin-right: 100px;

}
.second-section{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.female-person{
    width: 100%;
    margin-left: 10px;
    padding-left: 200px;
    
}
.second-division{
    margin-left: 500px;
}
.lorem{
    margin-right: 300px;
    margin-bottom: 100px;
}
.contact-me{
    background-image: linear-gradient(orange,tomato);
    font-weight: 200px;
    font-size: 20px;
    padding: 20px;
    border-radius: 30px;
    color: white;
    font: bold;
    text-decoration: none;
}
.mid-section{
    text-align: center;
    margin: 10px 500px;
}
.recipe{
    display: flex;
    margin: 0px 200px;
    text-align: left;
    
}
.first-recipe{ 
    width: 50%;
    padding: 10 px 100px;
}
.first-recipe img{
    width: 90%;
}
.second-recipe{
    width: 50%;
    padding: 10 px 100px;
      
}
.second-recipe img{
    width: 90%;
}

h3{
    font-size:x-large;
}
.last-section{
    display: flex;
    text-align: center;
    margin: 0px 20px;
}
.footer{
    text-align: center;
    background-color: black;
}
.eat{
    color: orange;
}
.fresh{
    color: lightslategray;
}
.final-p{
    color: lightblue;
    font-size: 20px;
}