.half-width {
    width: 50%;
    padding-left: 5%;
    padding-right: 2%;
}

.flexible-container {
    display: flex;
    margin-left: 20px;
    margin-bottom: 150px;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}

.hero-pic {
    margin-top: 2%;
    width: 90%;
}
h1{
    font-size: 600%;
    margin-top: 150px;
    text-align-last: left;
    width: max-content;
}
h2{
    margin-top: 200px;
    font-size: 50px;
}
.skip{
    color: orange;
}
.link-button{
    background-image: linear-gradient(orange,tomato);
    color: white;
    font-size: large;
    border-radius: 20px;
    background-color: orange;
    padding: 10px 10px;
}
p{
    font-size: large;
    margin-bottom: 100px;

}
.second-section{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.female-person{
    
    width: 100%;
    margin-left: 10px;
    padding-left: 200px;
    
}
.second-division{
    margin-left: 500px;
}
.lorem{
    margin-right: 300px;
    margin-bottom: 100px;
}
.contact-me{
    background-image: linear-gradient(orange,tomato);
    font-weight: 200px;
    font-size: 20px;
    padding: 20px;
}